*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, #0ffe73, #2cb7ea);
}
.circle1{
    width: 150px;
    height: 150px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    left: 350px;
    z-index: -1;
    top: 165px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .3;
    border-radius: 50%;
}
.circle2{
    width: 150px;
    height: 150px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    right: 350px;
    z-index: -1;
    top: 365px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .3;
    border-radius: 50%;
}
.circle3{
    width: 100px;
    height: 100px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    left: 350px;
    z-index: -1;
    top: 565px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .2;
    border-radius: 50%;
}
.circle4{
    width: 200px;
    height: 200px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    left: 650px;
    z-index: -1;
    top: 565px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .2;
    border-radius: 50%;
}
.circle5{
    width: 90px;
    height: 90px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    left: 650px;
    z-index: -1;
    top: 65px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .3;
    border-radius: 50%;
}
.circle6{
    width: 290px;
    height: 290px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    left: 850px;
    z-index: -1;
    top: 25px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .2;
    border-radius: 50%;
}
.circle7{
    width: 200px;
    height: 200px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    left: 5px;
    z-index: -1;
    top: 5px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .3;
    border-radius: 50%;
}
.circle8{
    width: 240px;
    height: 240px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    left: 5px;
    z-index: -1;
    top: 425px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .3;
    border-radius: 50%;
}
.circle9{
    width: 240px;
    height: 240px;
    position: absolute;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.919);
    right: 5px;
    z-index: -1;
    top: 525px;
    background-image: linear-gradient(to bottom, #eefffe, #222010);
    opacity: .3;
    border-radius: 50%;
}
h1{
    color: rgb(5, 52, 90);
    text-align: center;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    font-weight: 1200;
}
.container{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .4);
    width: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
#newtask{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
}
#newtask input{
    width: 70%;
    height: 45px;
    border: 2px solid #d1d3d5;
    padding: 12px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    position: relative;
}
#newtask input:focus{
    outline: none;
    border-color: rgba(29, 86, 210, 0.901);
}
#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 16px;
    background-color: rgba(24, 41, 76, 0.901);
    color: white;
    border: none;
    cursor: pointer;
}
#newtask button:hover{
    background-color: #2cb7ea;
    box-shadow: 0 15px 10px rgb(0, 0, 0);
    width: 21.5%;
    height: 50px;
    transition: width .25s, height 0.25s;
}
#tasks{
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
    width: 100%;
    position: relative;
}