body{
    background-color: #e0e0e0;
}
strong{
    color:  #2493df;
}
footer{
    text-align: center;
    color: #595959;
    font-size: 14px;
    margin-top: 10px;
}
h1{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px 0 10px 0;
}

label{
    font-size: 16px;
    font-weight: bold;
}
section{
    background-color: white;
    padding: 10px;
}
#buy{
    background-color: #687373;
    margin: 10px;
    color: #fcfcfc;
}
input[type='number']{
    width: 50px;
    padding: 2px;
    text-align: center;
}
button{
    background-color: #2493df;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
}
li{
    list-style-type: square;
    list-style-position: inside;
    padding-left: 30px;
}
table{
    border-collapse: collapse;
    
}
th{
    background-color: #2493df;
    color: white;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}