*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pic{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pic::before{
    content: '';
    background-image: url('./images/pexels-pixabay-268533.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
}
.side-bar{
    background-color: aqua;
}